<div class="p-6 text-center">
    <div class="text-6xl text-900 font-bold mb-1">{{'dashboard'|translate}}</div>
    <div class="text-5xl text-primary font-bold mb-4">{{'not_part_of_organization'|translate}}</div>
    <p class="pb-3">{{'You_need_to_be_part_of_some_organization_for_dashboard'|translate}}</p>
    <a routerLink="/marketplace" class="p-button mr-3 p-button-raised font-bold no-underline">{{"marketplace"|translate}}</a>
    <a class="p-button p-button-outlined font-bold" (click)="create()">{{"create_organization"|translate}}</a>
</div>
