/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
    font-family: "Open Sans", sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.input-error-message {
    font-size: 15px !important;
}

a {
    text-decoration: none;
    color: inherit;
}