<div class="wrapper">
    <div class="surface-card p-4 shadow-2 border-round w-full">
        <div class="text-center mb-5">
            <img src="assets/images/logo-letter.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">{{'login' | translate}}</div>
            <span class="text-600 font-medium line-height-3">{{'dont_have_an_account' | translate}}?</span>
            <a routerLink="/register" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">{{'create_today' | translate}}!</a>
        </div>
        <form (ngSubmit)="login()">
            <input id="email1" type="text" placeholder="{{'email_address' | translate}}" pInputText class="w-full mb-3" [(ngModel)]="email" name="email">
            <input id="password" type="password" placeholder="{{'password' | translate}}" pInputText class="w-full mb-3" [(ngModel)]="password" name="password">
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer mb-4 block">{{'forgot_password' | translate}}</a>
            <button pButton pRipple label="{{'sign_in' | translate}}" icon="pi pi-user" class="w-full" [loading]="loading"></button>
        </form>
    </div>
</div>