{% extends "marketplace/navbar.html" %}
{% load static %}
{% load purchase_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/account_page.css'%}">
{% endblock %}
{% block body %}
<div class="container">
    <header>
        <h1>Your licenses</h1>
    </header>
    <ul class="list list-bordered">
        <li class="list-header list-item">
            <div class="item-image"></div>
            <div class="item-cells">
                <p>Name</p>
                <p>Renews</p>
                <p>Status</p>
                <p></p>
            </div>
        </li>
        {% for purchase in purchases %}
        <li>
            <div class="list-item">
                <img class="item-image" src="{% static '/images/license.png'%}">
                <div class="item-cells">
                    <p>{{ purchase.product.name }}</p>
                    <p>{% get_purchase_renews_text purchase %}</p>
                    <p>{% get_purchase_status_text purchase %}</p>
                    <div class="item-cell-buttons">
                        <div>
                            {% if purchase|show_key_button %}
                            <button class="btn btn-green buy-button">Show key</Button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-message" id="list-message">
            You dont have any purchases yet
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}