{% extends "marketplace/navbar.html" %}
{% load static %}
{% load purchase_tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/account_page.css'%}">
{% endblock %}
{% block body %}
<div class="modal" id="activation_key_modal">
    <div class="modal-padding">
        <div class="modal-body">
            <header>
                <p>Activation key for product</p><i class="fas fa-times modal-close"></i>
            </header>
            <section>
                <div class="product-info">
                    <img src="{% static '/images/license.png'%}">
                    <h1 class="of-dots product-name">lisenssi</h1>
                </div>
                <label>
                    <input type="text" class="input input-default" id="activation_key" style="text-align: center;">
                </label>
            </section>
        </div>
    </div>
    <div class="modal-bg"></div>
</div>
<div class="container" style="padding: 30px 0">
    <header>
        <h1>Your licenses</h1>
    </header>
    <ul class="list list-bordered">
        <li class="list-header list-item">
            <div class="item-image"></div>
            <div class="item-cells">
                <p>Name</p>
                <p>Next invoice</p>
                <p>Status</p>
                <p></p>
            </div>
        </li>
        {% for purchase in purchases %}
        <li>
            <div class="list-item" data-purchase="{{purchase.purchase.id}}" data-subscription="{{purchase.purchase.subscription}}">
                <img class="item-image" src="{% static '/images/license.png'%}">
                <div class="item-cells">
                    <p class="product-name">{{ purchase.purchase.product.name }}</p>
                    <p class="product-renews">{% get_purchase_renews_text purchase.purchase %}</p>
                    <p class="product-status">{% get_purchase_status_text purchase.purchase %}</p>
                    <div class="item-cell-buttons">
                        <div>
                            {% if purchase.purchase|show_key_button %}
                            <button class="btn btn-green show_key_button" data-key="{{ purchase.purchase.activation_id }}" data-name="{{ purchase.purchase.product.name }}">Show key</Button>
                            {% endif %}
                            <button class="btn btn-blue dropdown-btn">Invoicing</button>
                            {% if purchase.purchase|show_cancel_button %}
                            <button class="btn btn-red cancel-btn">Cancel</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list list-small list-dropdown">
                <li class="list-header list-item">
                    <div class="item-image"></div>
                    <div class="item-cells">
                        <p>Invoice Number</p>
                        <p>Creation Date</p>
                        <p>Amount</p>
                        <p>Status</p>
                        <p>External link</p>
                    </div>
                </li>
                {% if purchase.purchase.payment %}
                <li class="list-header list-item">
                    <div class="item-image"></div>
                    <div class="item-cells">
                        <p></p>
                        <p>{{ purchase.purchase.payment.date }}</p>
                        <p>{{ purchase.purchase.payment.price }}$</p>
                        <p>Paid</p>
                        <a target="_blank" href="{{ purchase.purchase.payment.receipt }}">Open</a>
                    </div>
                </li>
                {% elif purchase.invoices %}
                {% for invoice in purchase.invoices %}
                <li class="list-header list-item">
                    <div class="item-image"></div>
                    <div class="item-cells">
                        <p>{{ invoice.number }}</p>
                        <p>{{ invoice.date }}</p>
                        <p>{{ invoice.price }}$</p>
                        <p>{% get_invoice_status_text invoice %}</p>
                        {% if invoice|show_invoice_button %}
                        <a target="_blank" href="{{ invoice.invoice }}">Open</a>
                        {% else %}
                        <p></p>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </li>
        {% empty %}
        <li class="list-message" id="list-message">
            You dont have any purchases yet
        </li>
        {% endfor %}
    </ul>
</div>
<script>
const modal = new Modal("activation_key_modal");
$(".show_key_button").click(function() {
    $("#activation_key_modal .product-name").html($(this).attr("data-name"))
    $("#activation_key_modal #activation_key").val($(this).attr("data-key"))
    modal.show()
})
$(".cancel-btn").click(function() {
    $(this).attr("disabled", "true")
    const item = $(this).parents(".list-item")
    const name = $(item).find(".product-name")
    const renews = $(item).find(".product-renews");
    const status = $(item).find(".product-status")
    let id = $(item).attr("data-purchase")
    if(confirm("Are you sure you want to cancel the purchase of '" + name.text() + "'. This cannot be undone")) {
        User.cancel_purchase(id, (data) => {
            notice.show("The product was cancelled")
            $(renews).html(data["data"]["next_invoice"])
            $(status).html(data["data"]["status"])
            if(data["data"]["subscription"] == false) {
                $(this).parent().find(".show_key_button").remove()
            }
            $(this).remove()
            $(this).removeAttr("disabled")
        }, function(data) {
            notice.error(data.responseJSON["error"])
            $(this).removeAttr("disabled")
        })
    }
})
</script>
{% endblock %}
