{% extends "marketplace/navbar.html" %}
{% load static %}
{% block body %}
<nav class="subnav">
    <div class="container">
        <div class="collapse">
            <ul class="border-slider">
                <li class="active-border"></li>
                <li class="">
                    Applications
                </li>
                <li>
                    Licenses
                </li>
                <li>
                    Organizations
                </li>
            </ul>
            <ul>
                <li class="interactive">
                    <div class="label">By rate</div>
                    <i class="fas fa-sort"></i>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container search-results">
    <header>
        <h1>Search results (152)</h1>
    </header>
    <div class="search-results-objects">
        <div class="tac">
            <img src="/static/images/loader.gif" class="loader">
        </div>
        <a href="#" class="app-thumb">
            <div class="app-image" style="background-image: url({% static 'images/thumbnail-test.jpg'%})">
            </div>
            <div class="app-info">
                <div class="left">
                    <img src="{% static 'images/test.png'%}">
                </div>
                <div class="right">
                    <p class="app-name">Visual Studio Community</p>
                    <p class="app-creator">Microsoft</p>
                    <div class="app-stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="app-thumb">
            <div class="app-image" style="background-image: url({% static 'images/thumbnail-test.jpg'%})">
            </div>
            <div class="app-info">
                <div class="left">
                    <img src="{% static 'images/test.png'%}">
                </div>
                <div class="right">
                    <p class="app-name">Visual Studio Community</p>
                    <p class="app-creator">Microsoft</p>
                    <div class="app-stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </a>
        <a href="#" class="app-thumb">
            <div class="app-image" style="background-image: url({% static 'images/thumbnail-test.jpg'%})">
            </div>
            <div class="app-info">
                <div class="left">
                    <img src="{% static 'images/test.png'%}">
                </div>
                <div class="right">
                    <p class="app-name">Visual Studio Community</p>
                    <p class="app-creator">Microsoft</p>
                    <div class="app-stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="container tac">
        <ul class="pagination">
            <li>First</li>
            <li>
                <i class="fas fa-arrow-left"></i>
            </li>
            <li class="num">1</li>
            <li class="num">2</li>
            <li class="num">3</li>
            <li class="num">4</li>
            <li class="num">5</li>
            <li>
                <i class="fas fa-arrow-right"></i>
            </li>
            <li>Last</li>
        </ul>
    </div>
</div>
<!--
<a href="#" class="app-thumb">
            <div class="app-image" style="background-image: url({% static 'images/thumbnail-test.jpg'%})">
            </div>
            <div class="app-info">
                <div class="left">
                    <img src="{% static 'images/test.png'%}">
                </div>
                <div class="right">
                    <p class="app-name">Visual Studio Community</p>
                    <p class="app-creator">Microsoft</p>
                    <div class="app-stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                </div>
            </div>
        </a>
-->

{% endblock %}