{% extends "marketplace/navbar.html" %}
{% load static %}
{% block body %}
<!-- <nav class="subnav">
    <div class="container">
        <div class="collapse">
            <ul class="border-slider">
                <li class="active-border"></li>
                <li class="active">
                    Applications
                </li>
                <li>
                    Organizations
                </li>
            </ul>
            <ul>
                <li class="interactive">
                    <div class="label">By rate</div>
                    <i class="fas fa-sort"></i>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<div class="container search-results">
    <header>
        <h1>Search results (<span id="search-results-count"></span>)</h1>
    </header>
    <div class="search-results-objects" id="search-results-objects">
        <div class="tac">
            <img src="/static/images/loader.gif" class="loader">
        </div>
        <!-- <h2 class="tac no-results">No results found</h2> -->
    </div>
    <!-- <div class="container tac">
        <ul class="pagination">
            <li>First</li>
            <li>
                <i class="fas fa-arrow-left"></i>
            </li>
            <li class="num">1</li>
            <li class="num">2</li>
            <li class="num">3</li>
            <li class="num">4</li>
            <li class="num">5</li>
            <li>
                <i class="fas fa-arrow-right"></i>
            </li>
            <li>Last</li>
        </ul>
    </div> -->
</div>
<script>
    add_search_results("{{data}}")
</script>
{% endblock %}