{% extends "marketplace/seller_page_header.html" %}
{% block s_body%}
{% for app in apps %}
<a href="/market/seller/1/app/{{app.id}}" class="app-thumb">
    <div class="app-image" style="background-image: url({{app.image}})"></div>
    <div class="app-info">
        <div class="left">
            <img src="{{app.organization.image}}">
        </div>
        <div class="right">
            <p class="app-name">{{app.name}}</p>
            <p class="app-creator">{{app.organization.name}}</p>
        </div>
    </div>
</a>
{% endfor %}
{% endblock %}