{% extends "marketplace/seller_page_header.html" %}
{% load application_tags %}
{% block s_body%}
{% for app in apps %}
<a href="/market/seller/{{app.organization.id}}/app/{{app.id}}" class="app-thumb">
    <div class="app-image" style="background-image: url({{app.image}})">
        <span class="app-price">Free</span>
    </div>
    <div class="app-info">
        <h3 class="app-name">{% get_thumbnail_name app.name %}</h3>
        <p class="app-creator">{{app.organization.name}}</p>
    </div>
</a>
{% endfor %}
{% endblock %}