{% extends "marketplace/navbar.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/seller_page.css' %}">
{% endblock %}
{% block body %}
<div class="seller-header">
    <div class="container flex">
        <div class="seller-profile">
            <img src="{{ org.image.url }}">
            <h2>{{org.name}}</h2>
        </div>
    </div>
</div>
<nav class="subnav">
    <div class="container">
        <div class="collapse">
            <ul class="link-nav">
                <a href="/market/seller/{{org.id}}" class="active subnav-item">
                    Applications
                </a>
                <a href="/market/seller/{{org.id}}/about" class="subnav-item">
                    About
                </a>
                <a href="/market/seller/{{org.id}}/reviews" class="subnav-item">
                    Reviews
                </a>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding: 30px 0">
{% block s_body %}
{% endblock %}
</div>
{% endblock %}