{% extends "include/base.html" %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block b_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/index.css' %}">
<script>
    $(function() {
        const nav = $("#navbar")
        $(document).on("scroll", function() {
            const top = $(this).scrollTop();
            if(top >= 100 && nav.hasClass("transparent")) {
                nav.removeClass("transparent");
            } else if(top < 100 && !nav.hasClass("transparent")) {
                nav.addClass("transparent");
            }
        })
    })
</script>
{% endblock %}

{% block b_body %}
<nav class="navbar transparent" id="navbar">
    <div class="container">
        <header>
            <a href="/" class="logo">Key Forest</a>
        </header>
        <div class="collapse flex-grow">
            <ul class="menu menu-right">
                {% if user.is_authenticated %}
                    <li><a href="/market">Marketplace</a></li>
                    {% if dashboard %}
                    <li><a href="/dashboard">Dashboard</a></li>
                    {% endif %}
                    {% if testbench %}
                    <li><a href="/testbench">Test bench</a></li>
                    {% endif %}
                    <li><a href="/logout">Logout</a></li>
                {% endif %}
                {% if user.is_authenticated == False %}
                    <li class="login"><a href="/signin">Sign In</a></li>
                    <li class="register"><a href="/register" class="btn btn-blue">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<section class="intro full">
    <div class="container centered vertical">
        <div>
            <h1>Marketplace for softwares</h1>
            <p>Buy access to applications and its features</p>
            <p>Keep on track of your software licenses in one place</p>
            <a href="/register" class="btn btn-white">Start now</a>
        </div>
    </div>
    <img src="{% static '/images/wave.png'%}">
</section>
<section>
    <div class="container">
        
    </div>
</section>
{% endblock %}