@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    font-size: 14px;
    font-family: "Poppins";
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #4B4B4B;
}
:root {
    --gray-background: #F2F3F3;
    --blue: #00AAFF;
    --darker-blue: #007CC3;
    --red: #FF4848;
    --green: #00DA88;
}
html, body {
    height: 100%;
}
a {
    text-decoration: none;
}
.container {
    width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}
.container.container-full {
    width: 100%;
}

@media (max-width: 1100px) {
    .container {
        width: 100%;
    }
}
.of-dots {
    text-overflow: ellipsis;
    overflow: hidden; 
}
.flex {
    display: flex;
}
.f-a {
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}

.icon {
    display: inline-block;
    height: 13px;
    width: 13px;
    background-size: cover;
}
.icon.arrow-down-icon {
    background-image: url(/static/images/arrow-down.png);
}
textarea {
    resize: vertical;
    max-height: 300px;
    min-height: 80px;
    outline: none;
}
input {
    outline: none;
}
.input {
    line-height: 40px;
    border-radius: 5px;
    padding: 0 15px;
    width: 100%;
    transition: border 0.3s, color 0.3s;
    -webkit-transition: border 0.3s, color 0.3s;
    -o-transition: border 0.3s, color 0.3s;
    -moz-transition: border 0.3s, color 0.3s;
}
.input.error {
    border: 1px solid red;
    color: red;
}
.input-default {
    border: 1px solid #E2E2E2;
}
.input-default:hover,
.input-default:focus {
    border: 1px solid DarkGray;
}
.btn {
    padding: 9.5px 15px;
    border-radius: 3px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
}
.btn > i {
    margin-left: 10px;
    color: inherit;
}
.btn-blue {
    color: white;
    background-color: var(--blue);
}
.btn-blue:hover {
    background-color: var(--darker-blue)
}
.btn-white {
    background-color: white;
}
.btn-white:hover {
    border: 1px solid white;
    color: white;
    background-color: transparent;
}

.btn-green {
    background-color: #00DA88;
    color: white;
}
.btn-green:hover {
    background-color: #00A064;
}

.modal {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.modal.open {
    visibility: visible;
    opacity: 1;
}
.modal .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
}
.modal .modal-padding {
    position: absolute;
    width: 550px;
    left: calc(50% - 275px);
    padding: 10px;
    top: 20px;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
}
.modal.open .modal-padding {
    top: 80px;
}
@media(max-width: 550px) {
    .modal .modal-padding {
        width: 100%;
        left: 0px;
    }
}
.modal .modal-body {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.modal .modal-body header {
    padding: 20px 35px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E2E2E2;
}
.modal .modal-body header i {
    color: DarkGray;
}
.modal .modal-body header i:hover {
    color: red;
}
.modal .modal-body header p {
    font-size: 16px;
    flex-grow: 1;
}
.modal .modal-body section {
    padding: 15px;
}
.modal .modal-body form {
    width: 100%;
}
.modal .modal-body .input {
    margin-bottom: 15px;
    width: 100%;
}
.modal .modal-body label span {
    font-size: 14px;
    padding: 5px;
    display: block;
}
.alert {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
    background-color: #00E38E;
    padding: 0 30px;
    opacity: 0;
    height: 60px;
    color: white;
    display: flex;
    visibility: hidden;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s;
}
.alert.open {
    visibility: visible;
    opacity: 1;
}
.alert.error {
    background-color: #CF0300;
}
.alert.notice {
    background-color: #00DA88;
}
.alert p,
.alert i {
    color: inherit;
}
.alert p {
    flex-grow: 1;
}
.notice {
    position: fixed;
    bottom: -250px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 25px;
    background-color: #1B567C;
    border-radius: 10px;
    padding: 25px;
    width: 320px;
    opacity: 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    cursor: default;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}
.notice p {
    color: white;
    display: inline-block;
    font-size: 16px;
}
.notice.notice-red {
    background-color: #C60000;
}