:root {
    --sb-bg: #163D54;
    --sb-border: #1E506E;
}
body {
    font-size: 0px;
}
.sidebar {
    width: 300px;
    height: 100%;
    background-color: var(--sb-bg);
    display: inline-block;
    position: relative;
    z-index: 1000;
    vertical-align: top;
}
.sidebar * {
    color: white;
    cursor: default;
}

.view {
    display: inline-block;
    width: calc(100% - 300px);
    height: 100%;
    vertical-align: top;
    position: relative;
}
.view .view-bar {
    height: 60px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    z-index: 900;
    position: relative;
    display: flex;
    align-items: center;
}
.view .view-bar h1 {
    font-size: 20px;
    padding: 0 25px;
}
.view .view-bar .search {
    flex-grow: 1;
    border-left: 1px solid #E2E2E2;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    cursor: text;
}
.view .view-bar .search i {
    color: rgb(161,119,117);
}
.view .view-bar .search input {
    flex-grow: 1;
    margin-left: 20px;
    border: none;
}
.view .view-bar .view-bar-right {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 25px;
    cursor: default;
}
.view .view-bar .view-bar-right img {
    width: 27px;
    border-radius: 100%;
    border: 1px solid #E2E2E2;
    margin-right: 15px;
}
.view .view-bar .view-bar-right > span {
    max-width: 130px;
    white-space: nowrap;
    font-weight: 400;
    margin-right: 15px;
}
.view .view-bar .view-bar-right a {
    padding: 0 5px;
    margin: 0 10px;
}
.view .content {
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    background-color: #fafafa;
    padding: 50px;
}
.sidebar a {
    text-decoration: none;
    display: block;
    cursor: pointer;
}
.sidebar h1 {
    color: white;
    font-size: 23px;
    font-weight: normal;
    line-height: 60px;
    text-align: center;
    border-bottom: 1px solid var(--sb-border);
}
.sidebar .organization {
    text-align: center;
    font-size: 0px;
    position: relative;
    border-bottom: 1px solid var(--sb-border);
}
.sidebar .organization > a {
    display: block;
    cursor: pointer;
    padding: 20px;
}
.sidebar .organization img,
.sidebar .organization .org-name {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
}
.sidebar .organization img {
    width: 35px;
    height: 35px;
    border-radius: 10%;
    margin-right: 10px;
}
.sidebar .organization .org-name {
    font-size: 16px;
    max-width: calc(100% - 45px);
}
.sidebar .menu a {
    text-decoration: none;
    padding: 20px;
    padding-left: 0px;
    display: block;
    font-size: 0px;
    border-bottom: 1px solid var(--sb-border);
}
.sidebar .menu a.active {
    background-color: var(--blue);
}
.sidebar .menu a:hover,
.sidebar .organization > a:hover {
    background-color: var(--darker-blue);
}
.sidebar .menu a * {
    color: #A5C1D1;
    font-size: 15px;
    display: inline-block;
    vertical-align: middle;
}
.sidebar .menu a.active * {
    color: white;
}
.sidebar .menu a:hover * {
    color: white;
}
.sidebar .sidebar-icon {
    width: 59px;
    text-align: center;
}

.error-page {
    text-align: center;
    font-size: 25px;
    color: DarkGray;
    padding-top: 100px;
}
.dashboard-page {
    width: 100%;
    height: 100%;
}
.dashboard-page .page-section {
    padding: 0 15px;
    font-size: 0px;
    height: 100%;
}
.dashboard-page .page-section > header:first-child {
    height: 90px;
}
.dashboard-page .page-section > header:not(:first-child) {
    padding: 50px 0 30px 0;
}
.dashboard-page .page-section > header img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}
.dashboard-page header > .flex {
    align-items: center;
}
.dashboard-page .page-section h1 {
    font-size: 25px;
    font-weight: normal;
}
.dashboard-page .page-section h2 {
    font-size: 20px;
    font-weight: normal;
}
.dashboard-page .page-section h3 {
    font-size: 15px;
    font-weight: normal;
}
.dashboard-page .page-section header .btn {
    margin-left: 20px;
}
/*ITEM LIST*/
.list-white {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.list li {
    list-style: none;
}
.list .list-header {
    font-size: 14px;
}
.list .list-item {
    display: flex;
    padding: 15px;
    align-items: center;
}
.list.no-item-imgs .list-item {
    padding: 19.5px;
}
.list .list-item:not(.list-header):hover {
    background-color: #FAFAFA;
}
.list > :not(:first-child) {
    border-top: 1px solid #E2E2E2;
}
.list .list-item .item-image {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
.list .list-item .item-cells {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.list .list-item .item-cells > * {
    padding: 0 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.list .list-item .item-cells > :first-child{
    width: 35%;
}
.list .list-item .item-cells > :not(:first-child) {
    flex-basis: 100px;
    flex-grow: 1;
}
.list .list-item .item-cells > :last-child .fas {
    position: absolute;
    right: 0px;
    top: calc(50% - 6.8px);
}
.list .list-item .item-cells > :last-child .fa-check {
    color: var(--green);
}
.list .list-item .item-cells > :last-child .fa-star {
    color: gold;
}
.list .list-error {
    text-align: center;
    font-weight: bolder;
    padding: 15px 0;
}
.list .list-message {
    text-align: center;
    padding: 50px 0;
    font-size: 18px;
    color: darkgray;
}
.list .list-error {
    color: red;
}
.invitation-list .item-cells > :first-child {
    flex-grow: 1;
}

/*ITEM LIST END*/

.sidebar-section {
    height: calc(100% - 90px); /*Minus header*/
    font-size: 0px;
}
.sidebar-section .section-sidebar {
    width: 350px;
    display:inline-block;
    vertical-align: top;
}
.sidebar-section .sidebar-section-content {
    display: inline-block;
    width: calc(100% - 350px);
    padding-left: 20px;
    height: 100%;
    vertical-align: top;
}
.sidebar-section .sidebar-section-content header {
    padding-bottom: 30px;
}
.user-list li {
    list-style: none;
}
.user-list .user-item {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}
.user-list .user-item.user-selected {
    background-color: var(--blue);
}
.user-list .user-item.user-selected .user-name {
    color: white;
}
.user-list .user-item:not(:last-child) {
    margin-bottom: 5px;
}
.user-list .user-item img {
    height: 45px;
    width: 45px;
    margin-right: 10px;
}
.user-list .user-item .user-name {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.user-list .user-item a:hover {
    text-decoration: underline;
    color: black;
}
.user-list .user-item .user-btn {
   padding: 15.5px;
}

.user-list .user-item .user-btn.remove-user {
    color: red;
}
.user-list .user-item .user-btn.remove-user:hover {
    background-color: red;
    color: white;
}
.user-list .user-list-state {
    text-align: center;
    color: darkgray;
}
.user-list .user-item.user-selected .user-btn {
    color: white;
}
.perms-management {
    display: flex;
}
.app-perms {
    width: 300px;
}
.app-perms h3 {
    padding: 5px 10px;
    font-weight: normal;
    margin-top: 15px;
}
.app-perms .sel-button,
.app-listing {
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin-bottom: 5px;
    cursor: pointer;
}
.app-perms .sel-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.app-perms .sel-button.disabled p {
    color: gray;
}
.app-listing {
    display: flex;
    padding: 5px;
    width: 100%;
    align-items: center;
    height: 45px;
    padding-left: 20px;
}
.app-listing img {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin-right: 10px;
}
.app-listing p {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.app-listing-all {
    padding: 10px 5px;
    width: 100%;
    text-align: center;
    color: DarkGray
}
.app-listing .remove-listing {
    padding: 15.5px;
}
.app-listing .remove-listing:hover {
    color: red;
}
.perms-management .all-perms {
    flex-grow: 1;
    padding-left: 15px;
    font-size: 0px;
}
.perms-management .all-perms .permission > * {
    display: flex;
    align-items: center;
}
.perms-management .all-perms .permission {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
.perms-management .all-perms .permission p {
    flex-grow: 1;
}
.perms-management .all-perms .permission[disabled] p {
    color: gray;
}
.user-chat {
    height: calc(100% - 72px); /*Minus header*/
}
.user-chat .user-chat-messages {
    height: calc(100% - 102px); /*Minus chat inputs*/
    font-size: 0px;
    overflow-y: scroll;
}
.user-chat .user-chat-messages .message-timeline {
    display: flex;
}
.user-chat .user-chat-messages .message-timeline .timeline-line {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.user-chat .user-chat-messages .message-timeline .timeline-line hr {
    flex-grow: 1;
    border-top: 1px solid #e2e2e2;
}
.user-chat .user-chat-messages .message-timeline .timeline-date {
    padding: 5px 10px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #E2E2E2;
}
.user-chat .user-chat-messages .message-timeline .timeline-date > * {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}
.user-chat .user-chat-messages .message-timeline .timeline-date .fas {
    padding-left: 10px;
}
.user-chat .user-chat-messages .message {
    display: flex;
}
.user-chat .user-chat-messages .message {
    padding: 10px;
}
.user-chat .user-chat-messages .message img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    display: inline-block;
}
.user-chat .user-chat-messages .message .message-texts {
    flex-grow: 1;
    padding-left: 10px;
}
.user-chat .user-chat-messages .message .message-texts .message-time {
    font-weight: normal;
    font-size: 10px;
    padding-left: 10px;
}
.user-chat .user-chat-messages .message .message-texts .message-content p:not(:first-child) {
    padding-top: 10px;
}
.user-chat .user-chat-inputs {
    padding-top: 20px;
}
.user-chat .user-chat-inputs textarea {
    resize: none;
}

.box-section {
    text-align: center;
}
.box-section .box {
    display: inline-block;
    margin:  15px;
}
.box-section .box {
    width: 400px;
    text-align: left;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 300px;
    vertical-align: top;
}
.box-section .box header {
    padding: 20px;
}
.box.chart-box .chart {
    height: calc(100% - 63px);
    padding: 10px;
}

.input-section {
    display: flex;
    font-size: 0px;
    padding-bottom: 15px;
}
.input-section .i-s-divider {
    flex-grow: 1;
}
.input-section .i-s-inline {
    display: inline-block;
    vertical-align: top;
}
.input-section .i-s-inline:not(:first-child) {
    padding-left: 15px;
}
.input-section .i-s-input {
    display: block;
    margin: 5px;
    padding-bottom: 10px;
}
.input-section h1,
.input-section h2,
.input-section h3,
.input-section h4{
    padding: 10px 0;
}
.input-section .i-s-input .i-s-text {
    display: flex;
    align-items: center;
    padding: 0 0 5px 5px;
}
.input-section .i-s-input .i-s-text p {
    flex-grow: 1;
}
.input-section .i-s-input .i-s-l-btn {
    color: var(--blue);
    padding-right: 10px;
    cursor: default;
}
.input-section .app-selection {
    display: flex;
    width: 350px;
    background-color: white;
    border: 1px solid #e2e2e2;
    align-items: center;
    border-radius: 5px;
    padding: 4px;
    cursor: default;
}
.input-section .app-selection:hover {
    background-color: var(--blue);
}
.input-section .app-selection:hover * {
    color: white;
}
.input-section .app-selection img {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.input-section .app-selection p {
    flex-grow: 1;
}
.input-section .app-selection .fas {
    padding-right: 5px;
}
.input-section .i-s-input textarea {
    resize: none;
    width: 450px;
    height: 150px;
}
.parameter-table {
    flex-grow: 1;
}
.parameter-table header {
    display: flex;
    align-items: center;
}
.parameter-i-list .i-s-input,
.parameter-i-list input {
    display: inline-block;
}
.parameter-i-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.parameter-i-list input:nth-child(2) {
    flex-grow: 1;
    margin: 0 10px;
}