:root {
    --navbar-height: 70px;
    --subnav-height: 0px;
}
body > .container {
    height: auto;
}
.navbar {
    border-bottom: 1px solid #E2E2E2;
    height: var(--navbar-height);
    z-index: 1000;
    background-color: white;
}
.navbar .container {
    display: flex;
    align-items: center;
}
.navbar header {
    padding-right: 15px;
}
.navbar header .logo {
    font-size: 25px;
    color: black;
}
.navbar .collapse {
    flex-grow: 1;
    display: flex;
    background-color: white;
    z-index: 1000;
}
.navbar .menu:nth-child(2) {
    flex-grow: 1;
}
.navbar .menu {
    display: flex;
    font-size: 0px;
    align-items: center;
}
.navbar .menu li {
    display: block;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
}
.navbar .menu li a {
    padding: 10px 15px;
    display: block;
}
.navbar .menu li a:hover {
    color: var(--darker-blue);
}
.navbar .menu li.search-menu-item {
    flex-grow: 1;
}
.navbar .menu li.search-menu-item form {
    padding: 5px 15px;
}
.navbar .menu li.search-menu-item input {
    width: 100%;
}
.navbar .collapse header {
    padding: 10px 15px;
    text-align: center;
    display: none;
}
.navbar .menu-toggle {
    position: relative;
	width: 35px;
    border: none;
	height: 25px;
	display: inline-block;
    background-color: white;
    display: none;
}
.navbar .menu-toggle div {
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	-moz-transition: 0.3s;
	background-color: #008BCB;
	width: 100%;
	height: 5px;
	position: absolute;
}
.navbar .menu-toggle div:first-child {
	bottom: 0px;
}
.navbar .menu-toggle div:nth-child(2) {
	bottom: 10px;
}
.navbar .menu-toggle div:nth-child(3) {
	bottom: 20px;
}
.navbar.open .menu-toggle div:first-child {
	bottom: 10px;
	transform: rotate(135deg);
}
.navbar.open .menu-toggle div:nth-child(2) {
	opacity: 0;
}
.navbar.open .menu-toggle div:nth-child(3) {
	bottom: 10px;
	transform: rotate(-135deg);
}
.subnav {
    border-bottom: 1px solid var(--light-border);
    width: 100%;
    display: flex;
    background-color: white;
}
.subnav .collapse {
    display: inline-block;
}
.subnav .collapse ul {
    position: relative;
    display: inline-block;
    font-size: 0px;
}
.subnav .collapse ul:not(:first-child) {
    margin-left: 50px;
}
.subnav .collapse ul .subnav-item,
.subnav .collapse ul .subnav-item .label {
    display: inline-block;
    line-height: 40px;
    font-size: 13px;
    cursor: default;
}
.subnav .collapse ul .subnav-item,
.subnav .collapse ul .subnav-item .label,
.subnav .collapse ul .subnav-item .fas {
    color: #737373;
}
.subnav .collapse ul .subnav-item {
    padding: 0 15px;
}
.subnav .collapse ul .subnav-item:hover,
.subnav .collapse ul .subnav-item.active,
.subnav .collapse ul .subnav-item:hover .label,
.subnav .collapse ul .subnav-item:hover .fas {
    color: var(--darker-blue);
}
.subnav .collapse ul.link-nav .subnav-item.active {
    border-bottom: 2px solid var(--darker-blue);
    margin-bottom: -2px;
}
.subnav .collapse ul .subnav-item .fas {
    margin-left: 10px;
}
.subnav .collapse ul .active-border {
    position: absolute;
    height: 2px;
    background-color: var(--darker-blue);
    left: 0px;
    bottom: 0px;
    width: 0px;
    padding: 0px;
}
.search-results {
    padding-bottom: 40px;
}
.search-results header {
    padding: 30px 0;
}
.search-results header h1,
.search-results header span {
    font-weight: normal;
    font-size: 20px;
}
.search-results .search-results-objects {
    font-size: 0px;
    justify-content: center;
    padding-bottom: 40px;
}
.search-results .search-results-objects .loader {
    height: 40px;
    width: 40px;
}
.search-results .search-results-objects .no-results {
    font-size: 25px;
    font-weight: normal;
    color: #CECECE;
    padding: 10px 0;
}
.pagination {
    display: inline-flex;
    border: 1px solid var(--light-border);
    border-radius: 5px;
    width: auto;
}
.pagination li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: default;
    height: 30px;
}
.pagination li:hover,
.pagination li:hover .fas {
    background-color: var(--darker-blue);
    color: white;
}
.pagination li.num {
    width: 30px;
}
.pagination li:not(.num) {
    padding: 0 10px;
}
.pagination li:not(:last-child) {
    border-right: 1px solid var(--light-border);
}
.app-thumb {
    width: 247px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    margin: 10px;
    display: inline-block;
}
.app-thumb:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
.app-thumb:hover .app-name {
    text-decoration: underline;
}
.app-thumb .app-image {
    width: 100%;
    padding-top: 66.66%;
    background-size: cover;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-position: center;
    position: relative;
}
.app-thumb .app-image .app-price {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: white;
    background-color: var(--font-color);
    padding: 5px 8px;
    border-radius: 3px;
    text-align: center;
}
.app-thumb .app-info {
    height: 110px; /*Minus image height*/
    padding: 10px;
    text-overflow: hidden;
    display: flex;
    flex-direction: column;
}
.app-thumb .app-info .app-name {
    font-size: 16px;
    flex-grow: 1;
}
.app-thumb .app-info .app-creator {
    color: var()
}
@media(max-width: 1100px) {
    .search-results {
        text-align: center;
    }
}
@media(max-width: 768px) {
    .navbar {
        position: fixed;
        width: 100%;
    }
    .navbar .container {
        display: block;
        height: 100%;
    }
    .navbar .container > header {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0px;
    }
    .navbar .container > header .logo {
        flex-grow: 1;
    }
    .navbar .collapse {
        display: block;
        position: fixed;
        width: 300px;
        top: 0px;
        left: -300px;
        background-color: white;
        border-right: 2px solid var(--blue);
        height: 100%;
        transition: left 0.3s;
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        -o-transition: left 0.3s;
    }
    .navbar.open .collapse {
        left: 0px;
    }
    .navbar .collapse header,
    .navbar .menu-toggle {
        display: block;
    }
    .navbar .menu {
        display: block;
    }
    .navbar .menu li {
        border-top: 1px solid var(--light-border);
        padding: 10px 0;
    }
    .navbar .menu li:not(.search-menu-item):hover {
        background-color: var(--blue);
    }
    .navbar .menu li a {
        text-align: center;
    }
    .navbar .menu li:not(.search-menu-item):hover a {
        color: white;
    }
    .subnav {
        position: fixed;
        top: var(--navbar-height);
    }
    .subnav .collapse ul:not(:first-child) {
        margin-left: 0px; 
    }
    .subnav .collapse ul li {
        padding: 0 10px;
    }
    .search-results {
        padding-top: calc(var(--navbar-height) + var(--subnav-height));
    }
}