.seller-header {
    border-bottom: 1px solid var(--light-border);
    padding: 20px 0;
}
.seller-header .seller-profile {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.seller-header .seller-profile img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border-radius: 20%;
}
.seller-header .seller-profile h2 {
    font-size: 20px;
    font-weight: normal;
}