{% extends "include/base.html" %}
{% load static %}
{% load license_tags %}
{% load parameter_tags %}
{% block b_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css'%}">
{% endblock %}
{% block b_body %}
<div class="checkout">
    <header>
        <h1>Keyforest</h1>
        <h2>Checkout</h2>
    </header>
    <div class="checkout-card">
        {% csrf_token %}
        <form method="GET" action="/api/stripe/checkout/newsession/{{license.id}}">
            <div class="ch-app-image" style="background-image: url({{license.application.image.url}});">
                <div class="ch-app-img-layout"></div>
                <div class="ch-owner-data">
                    <img src="{{license.application.organization.image.url}}">
                    <div class="ch-owner-names">
                        <a href="/market/seller/{{license.application.organization.id}}" class="of-dots">{{license.application.organization.name}}</a>
                        <a href="/market/seller/1/app/{{license.application.id}}"class="of-dots">{{license.application.name}}</a>
                    </div>
                </div>
            </div>
            <div class="license-data">
                <h2 class="of-dots" title="{{license.name}}">{{license.name}}</h2>
                <div class="license-desc {% if license.bio|length > 150 %}hidden{% endif %}">
                    <div class="overflow-blur" id="desc-blur">
                        <div class="flex-grow"></div>
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <p class="license-desc-text">{% if license.bio %}{{license.bio}}{% else %}<i>This license has no description</i>{% endif %}</p>
                    <div class="hide-desc" id="hide-desc">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                </div>
                <div class="license-params">
                    <div>
                        <h3>Price</h3>
                        <div class="param-value">
                            {% if license.price == None %}
                            Free
                            {% else %}
                            {{ license.price }}$
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <h3>Renews</h3>
                        <div class="param-value">
                            {% subscription_to_readable license %}
                        </div>  
                    </div>
                </div>
                <input type="submit" class="btn btn-green purchase-btn" value="Purchase">
            </div>
        </form>
    </div>
</div>
<script>
$("#desc-blur").on("click", function() {
    $(this).parent().addClass("open")
})
$("#hide-desc").on("click", function() {
    $(this).parent().removeClass("open")
})
</script>
{% endblock %}