{% extends "dashboard/sidebar.html" %}
{% block title %}{{ request.user.organization.name }} | Applications{% endblock %}
{% block body %}
<section class="dashboard-page">
    <section class="page-section">
        <header>
            <div class="flex">
                <img src="{{app.image.url}}" />
                <h1>{{app.name}}</h1>
                <a href="{{app.id}}/settings" class="btn btn-green">Settings<i class="fas fa-cog"></i></a>
            </div>
        </header>
        <div class="box-section">
            <div class="box chart-box">
                <header>
                    <h3>Licenses activated</h3>
                </header>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="box chart-box">
                <header>
                    <h3>Revenue</h3>
                </header>
                <div class="chart">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="box chart-box">
                <header>
                    <h3>Licenses sold</h3>
                </header>
                
            </div>
        </div>
        <header>
            <div class="flex">
                <h2>Licenses</h2>
                <a href="{{app.id}}/license/new" class="btn btn-green">Create<i class="fas fa-plus"></i></a>
            </div>
        </header>
        <ul class="list list-white no-item-imgs" id="license-list">
            <li class="list-header list-item">
                <div class="item-cells">
                    <p>Name</p>
                    <p>Amount</p>
                    <p>Expiration</p>
                    <p>Duration</p>
                    <p>Created</p>
                </div>
            </li>
            <li class="list-message" id="list-message">
                {{app.name}} doesn't have any licenses
            </li>
            <!--
            <li>
                <a href="#" class="list-item">
                <div class="item-image"></div>
                <div class="item-cells">
                    <p>License</p>
                    <p>Licenses</p>
                    <p>Author</p>
                    <p>Created</p>
                </div>
                </a>
            </li>
            -->
        </ul>
    </section>
</section>
<script>
    function create_lic_el(data) {
        const li = $("<li></li>");
        const link = $("<a href='/dashboard/organization/{{user.organization.id}}/app/{{app.id}}/license/" + data.id + "' class='list-item'></a>")
        const cells = $("<div class='item-cells'></div>");
        let amount = data.amount;
        let exp = data.expiration;
        let duration = data.duration
        let created = data.created
        if(amount == null) {
            amount = "Infinite"
        }
        if(exp == null || exp == "None") {
            exp = "Never"
        } else {
            exp = date_format(exp, "d.m.y")
        }
        if(duration == null) {
            duration = "Never ending";
        } else {
            duration += " days"
        }
        cells.append("<p>" + data.name + "</p>")
        cells.append("<p>" + amount + "</p>")
        cells.append("<p>" + exp + "</p>")
        cells.append("<p>" + duration + "</p>")
        cells.append("<p>" + date_format(created, "d.m.y") + "</p>")
        link.append(cells)
        li.append(link)
        return li;
    }
    Application.get_licenses({{app.id}}, function(data) {
        $("#list-message").hide();
        data = data.data
        for(let a = 0; a < data.length; a++) {
            const lic = data[a];
            const el = create_lic_el(lic);
            $("#license-list").append(el);
        }
    }, function(data) {
        let message = "Error ocurred"
        if("error" in data.responseJSON) {
            message = data.responseJSON["error"];
        }
        $("#license-list li:not(.list-hearder):not(.list-message)").remove();
        $("#list-message").html(message).show();
    })
const ctx = document.getElementById('myChart').getContext('2d');
const data = {
    labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [
        {
            label: "Dataset 1",
            data: [5,10,12,6,9],
            fill: false,
            borderColor: "#e2e2e2",
            backgroundColor: "black"
        }
    ]
}
const config = {
  type: 'line',
  data: data,
  options: {
    plugins: {
      legend: {
          display: false
      }
    },
    responsive: true,
    maintainAspectRatio: false
  }
};
const myChart = new Chart(ctx, config);
</script>
{% endblock %}