{% extends "dashboard/sidebar.html" %}
{% block title %}{{ request.user.profile.organization.name }} | Applications{% endblock %}
{% block body %}
    <div class="modal" id="create-app-modal">
        <div class="modal-padding">
            <div class="modal-body">
                <header><p>New application</p><i class="fas fa-times modal-close"></i></header>
                <section>
                    <form id="create-app-form">
                        <label>
                            <span>Name*</span>
                            <input type="text" class="input input-default" id="app-name" placeholder="Name for the application">
                        </label>
                        <label>
                            <span>Description</span>
                            <textarea class="input input-default" id="app-desc" placeholder="Describe your application"></textarea>
                        </label>
                        <input type="submit" value="Create app" class="btn btn-blue">
                    </form>
                </section>
            </div>
        </div>
        <div class="modal-bg"></div>
    </div>
    <div class="dashboard-page">
        <section class="page-section flex-grow">
            <header>
                <h1>Applications</h1>
                {% if showBtn %}
                <button class="btn btn-green" onclick="showModal()">Create new <i class="fas fa-plus"></i></button>
                {% endif %}
            </header>
            <ul class="list" id="app-list">
                <li class="list-header list-item">
                    <div class="item-image"></div>
                    <div class="item-cells">
                        <p>Name</p>
                        <p>Licenses</p>
                        <p>Author</p>
                        <p>Created</p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <script>
    const modal = new Modal("create-app-modal");
    function showModal() {
        modal.show();
    }
    const cAlert = new Alert()
    $("#create-app-form").on("submit", function() {
        Organization.create_app({
            name: $(this).find("#app-name").val(),
            bio: $(this).find("#app-desc").val()
        }, function(data) {
            //success
            console.log(data)
        }, function(data) {
            //error
            cAlert.show("error", data.responseJSON.error)
        })
        modal.close()
        return false;
    })

    function create_app_el(data) {
        const el = $("<li></li>");
        const link = $('<a href="/dashboard/organization/' + data.organization.id + '/app/' + data.id + '" class="list-item"></a>')
        link.append('<img class="item-image" src="' + data.image + '">')
        const cells = $('<div class="item-cells"></div>')
        cells.append('<p>' + data.name + '</p>')
        cells.append('<p>' + data.licenses + ' licenses</p>')
        cells.append('<p>' + data.creator.name + '</p>')
        cells.append('<p>' + date_format(data.created, "d.m.y") + '</p>')
        link.append(cells)
        el.append(link)
        return el;
    }

    Organization.get_apps((data) => {
        data = data.data
        for(a in data) {
            const el = create_app_el(data[a])
            $("#app-list .list-header").after(el);
        }
    }, (error) => {
        let message = "Error ocurred";
        if("error" in error) {
            message = error["error"]
        }
        $("#app-list .list-header").after($("<li class='list-error'>" + message + "</li>"))
    })
    </script>
{% endblock %}