{% extends "dashboard/sidebar.html" %}
{% block title %}{{ request.user.profile.organization.name }} | Applications{% endblock %}
{% block body %}
    <div class="modal" id="create-app-modal">
        <div class="modal-padding">
            <div class="modal-body">
                <header><p>New application</p><i class="fas fa-times modal-close"></i></header>
                <section>
                    <form id="create-app-form">
                        <label>
                            <span>Name*</span>
                            <input type="text" class="input input-default" id="app-name" placeholder="Name for the application">
                        </label>
                        <label>
                            <span>Description</span>
                            <textarea class="input input-default" id="app-desc" placeholder="Describe your application"></textarea>
                        </label>
                        <input type="submit" value="Create app" class="btn btn-blue">
                    </form>
                </section>
            </div>
        </div>
        <div class="modal-bg"></div>
    </div>
    <div class="dashboard-page">
        <section class="page-section">
            <header>
                <h1>Applications</h1>
                {% if showBtn %}
                <button class="btn btn-green" onclick="showModal()">Create new <i class="fas fa-plus"></i></button>
                {% endif %}
                {{conn.permissions}}
            </header>
        </section>
    </div>
    <script>
    const modal = new Modal("create-app-modal");
    function showModal() {
        modal.show();
    }
    const cAlert = new Alert()
    $("#create-app-form").on("submit", function() {
        Organization.create_app({
            name: $(this).find("#app-name").val(),
            bio: $(this).find("#app-desc").val()
        }, function(data) {
            //success
            console.log(data)
        }, function(data) {
            //error
            cAlert.show("error", data.responseJSON.error)
        })
        modal.close()
        return false;
    })
    </script>
{% endblock %}