{% extends "dashboard/sidebar.html" %}
{% load static %}
{% block title %}{{ request.user.organization.name }} | Applications{% endblock %}
{% block body %}
    <div class="dashboard-page">
        <section class="page-section flex-grow">
            <header>
                <div class="flex">
                    <img src="{% static '/images/license.png' %}" class="header-img"/>
                    <h1 class="flex-grow">{{license.name}}</h1>
                </div>
            </header>
            <section class="box-section">
                <div class="box large-box">
                    <header>
                        <p>Active</p>
                    </header>
                </div>
                <div class="box large-box">
                    <header>
                        <p>Total used</p>
                    </header>
                </div>
            </section>
        </section>
    </div>
    <script>
    </script>
{% endblock %}