{% extends "dashboard/sidebar.html" %}
{% load static %}
{% block title %}{{ request.user.organization.name }} | Create license{% endblock %}
{% block body %}
<div class="modal" id="select-app-modal">
    <div class="modal-padding">
        <div class="modal-body">
            <header><p>Search applications</p><i class="fas fa-times modal-close"></i></header>
            <section>
                    <label>
                        <input type="text" class="input input-default" placeholder="Search apps">
                    </label>
                    <div class="modal-search-results">
                    </div>
            </section>
        </div>
    </div>
    <div class="modal-bg"></div>
</div>
<section class="dashboard-page" id="c_lc_page">
    <section class="page-section">
        <header>
            <h1>Create license</h1>
        </header>
        <div class="input-section">
            <div class="i-s-input">
                <span class="i-s-text">
                    <p>Application</p>
                </span>
                {% if app %}
                <div class="app-selection" id="app-selection" data-appid="{{app.id}}">
                    <img src="{{app.image.url}}">
                    <p>{{app.name}}</p>
                    <i class="fas fa-check"></i>
                </div>
                {% endif %}
                {% if app == None %}
                <div class="app-selection app-not-sel" id="app-selection" data-appid="">
                    <p>App not selected</p>
                    <i class="fas fa-check" style="display: none"></i>
                </div>
                {% endif %}
            </div>
            <div class="i-s-input flex-grow">
                <span class="i-s-text">
                    <p>License name</p>
                </span>
                <input type="text" class="input input-default" placeholder="License name" id="name">
            </div>
            <div class="i-s-input flex-grow">
                <span class="i-s-text">
                    <p>Amount</p>
                </span>
                <input type="number" class="input input-default" placeholder="Infinite" min="1" id="amount">
            </div>
            <div class="i-s-input flex">
                <span class="i-s-text">
                    <p>Expiration</p>
                    <span class="reset reset-expi i-s-l-btn" style="display: none">reset</span>
                </span>
                <input type="text" class="input input-default" placeholder="Never" id="datepicker">
            </div>
        </div>
        <div class="input-section">
            <div class="i-s-inline">
                <div class="i-s-input">
                    <span class="i-s-text">
                        <p>Price</p>
                    </span>
                    <input type="text" class="input input-default" placeholder="Free" id="price">
                </div>
                <div class="i-s-input">
                    <span class="i-s-text">
                        <p>Subscription period</p>
                    </span>
                    <div class="flex i-s-with-buttons" id="subscription-selection">
                        <input type="number" class="input input-default" placeholder="Never ending" min="1" id="subscription_period">
                        <button class="btn btn-white" data-value="1">Days</button>
                        <button class="btn btn-white" data-value="2">Weeks</button>
                        <button class="btn btn-white selected" data-value="3">Months</button>
                    </div>
                </div>
                <div class="i-s-input">
                    <span class="i-s-text">
                        <p>Description</p>
                    </span>
                    <textarea class="input input-default" placeholder="Describe your license" id="desc"></textarea>
                </div>
            </div>
            <div class="i-s-inline parameter-table">
                <header>
                    <h2>Parameters</h2>
                    <i class="fas fa-plus btn-i btn-green" id="add-param-i"></i>
                </header>
                <ul class="parameter-i-list" id="param-list">
                    <li>
                        <input type="text" class="input input-default" placeholder="Name">
                        <input type="text" class="input input-default" placeholder="Value">
                        <i class="fas fa-minus btn-blue btn-i remove-param-i"></i>
                    </li>
                </ul>
                <button class="btn btn-green" id="save-license-btn">Create license</button>
            </div>
        </div>
    </section>
</section>
<script>
    const cAlert = new Alert()
    const modal = new Modal("select-app-modal");
    let apps = []
    function create_app_search_el(data) {
        const el = $("<div class='app-listing' data-appname='" + data.name + "' data-appid='" + data.id + "'></div>")
        el.append('<img src="' + "{% static '/images/application_default.png'%}" + '">')
        el.append('<p>' + data.name + '</p>');
        return el
    }
    $("#select-app-modal").on("click", ".app-listing", function() {
        const name = $(this).attr("data-appname");
        const id = $(this).attr("data-appid")
        const image = $(this).find("img").attr("src")
        modal.close();
        $("#app-selection").removeClass("app-not-sel").attr("data-appid", id)
        $("#app-selection img").remove();
        $("#app-selection").prepend("<img src='" + image + "'>")
        $("#app-selection p").html(name);
        $("#select-app-modal .modal-search-results").empty();
        $("#select-app-modal input[type=text]").val("");
    })
    $("#select-app-modal input[type=text]").on("keyup", function(e) {
        const app_name = $.trim($(this).val());
        $("#select-app-modal .modal-search-results").empty();
        if(app_name == "") return;
        for(let a = 0; a < apps.length; a++) {
            const app = apps[a];
            if(app.name.toLowerCase().includes(app_name.toLowerCase())) {
                const el = create_app_search_el(app);
                $("#select-app-modal .modal-search-results").prepend(el);
            }
        }
    })
    $("#subscription-selection button").on("click", function(e) {
        $("#subscription-selection button").removeClass("selected");
        $(this).addClass("selected")
    })
    $("#app-selection").on("click", function() {
        modal.show();
    })
    Organization.get_apps((data) => {
        apps = data.data
    })
    function error(val) {
        cAlert.show("error", val)
    }
    const datepicker = flatpickr('#datepicker', {
        onChange: () => {
            $(".reset-expi").show();
        },
        dateFormat: "Y-m-d",
        minDate: "today"
    });
    $(".dashboard-page").on("click", "input, .app-selection", function(e) {
        $(this).removeClass("error");
    })
    $("#save-license-btn").click(function(e) {
        let app = $("#app-selection").attr("data-appid");
        if(Validators.int(app) == false) {
            $("#app-selection").addClass("error");
            error("Select the targeted app");
            return;
        }
        let name = $.trim($("#name").val());
        let amount = $.trim($("#amount").val());
        let expiration = $("#datepicker").val();
        let price = $.trim($("#price").val());
        let subscription_period = $.trim($("#subscription_period").val());
        let desc = $.trim($("#desc").val());
        let params = get_parameters();
        if(params == false) return;
        if(!name) {
            error("License name cannot be empty");
            $("#name").addClass("error");
            return false
        }

        if(!price) {
            price = null
        } else {
            const valid_price = Validators.price(price)
            if(!valid_price) {
                error("Price format is not valid")
                $("#price").addClass("error");
                return false;
            } else {
                price = valid_price;
            }
        }
        if(!amount) {
            amount = null
        } else if(amount < 1) {
            error("Amount cannot be less than 1")
            $("#amount").addClass("error");
            return false;
        }
        if(expiration.length == 0) {
            expiration = null
        }
        subscription_type = 3 //Default
        if(!subscription_period || subscription_period == 0) {
            subscription_period = null
            subscription_type = 0 //Never ending
        } else if(subscription_period < 1) {
            error("subscription period cannot be less than 1")
            $("#subscription_period").addClass("error");
            return false;
        } else {
            $("#subscription-selection button.selected").each(function() {
                subscription_type = $(this).attr("data-value")
            })
        }
        if(subscription_period != null) {
            try {
                subscription_period = Math.round(subscription_period)
            } catch(e) {
                error("subscription period is invalid")
                $("#subscription_period").addClass("error");
                return false;
            }
        }
        display_page_loader();
        Application.create_license({
            "app_id": app,
            "name": name,
            "amount": amount,
            "expiration": expiration,
            "price": price,
            "subscription_period": subscription_period,
            "desc": desc,
            "params": JSON.stringify(params),
            "subscription_type": parseInt(subscription_type)
        }, (data) => {
            //Success
            data = data.data
            window.location.href = "/dashboard/organization/{{user.organization.id}}/app/" + data.app.id + "/license/" + data.id
        }, (data) => {
            //Error
            display_page_loader(false);
            let message = "Error ocurred";
            if("error" in data.responseJSON) {
                message = data.responseJSON["error"]
            }
            cAlert.show("error", message)
        })
    })
    function get_parameters() {
        const table = $("#param-list")
        const rows = table.find("li")
        let data = {}
        for(let a = 0; a < rows.length; a++) {
            const li = rows[a];
            const inputs = $(li).children("input");
            const name = $.trim($(inputs[0]).val());
            const value = $.trim($(inputs[1]).val());
            if(name in data) {
                //error
                $(inputs[0]).addClass("error");
                cAlert.show("error", "Parameter '" + name + "' exists twice");
                return false;
            } else {
                if(!name && value) {
                    cAlert.show("error", "Parameter name cannot be empty");
                    $(inputs[0]).addClass("error");
                    return false;
                }
                if(name && !value) {
                    cAlert.show("error", "Parameter value cannot be empty");
                    $(inputs[1]).addClass("error")
                    return false;
                }
                if(name && value) {
                    data[name] = value
                }
            }
        }
        return data;
    }
    function create_param_input() {
        const li = $("<li></li>")
        li.append("<input type='text' class='input input-default' placeholder='Name'>");
        li.append("<input type='text' class='input input-default' placeholder='Value'>");
        li.append("<i class='fas fa-minus btn-i btn-blue remove-param-i'></i>");
        return li;
    }
    $("#param-list").on("click", ".remove-param-i", function() {
        $(this).parent().remove();
    })
    $("#add-param-i").click(function() {
        $("#param-list").prepend(create_param_input());
    })
    $(".reset").click(function() {
        $(this).parent().parent().find("input").val("")
        $(this).hide();
    })
</script>
{% endblock %}