{% extends "include/base.html" %}
{% load static %}
{% block b_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css'%}">
{% block head %}
{% endblock %}
{% endblock %}
{% block b_body %}
<nav class="sidebar">
    <h1>Key Forest</h1>
    <div class="organization">
        <img src="{% static '/images/test.png' %}">
        <p class="org-name" title="org-name">Microsoft</p>
    </div>
    <ul class="menu">
        <li><a href="#" class="active">
            <i class="fas fa-city"></i>
            <span class="text">Organization</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-sitemap"></i>
            <span class="text">Products</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-id-badge"></i>
            <span class="text">Licenses</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-chart-line"></i>
            <span class="text">Activity</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-money-check"></i>
            <span class="text">Sales</span>
        </a></li>
        <li><a href="#">
            <i class="fas fa-laptop-code"></i>
            <span class="text">API</span>
        </a></li>
    </ul>
</nav>
<div class="view">
    <div class="view-bar">

    </div>
    <div class="content">
        {% block body %}
        
        {% endblock %}
    </div>
</div>
{% endblock %}