{% extends "include/base.html" %}
{% load static %}
{% block b_head %}
<link rel="stylesheet" type="text/css" href="{% static '/css/dashboard.css'%}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
{% block head %}
{% endblock %}
{% endblock %}
{% block b_body %}
<nav class="sidebar">
    <a href="/"><h1>Key Forest</h1></a>
    <div class="organization">
        <a href="/dashboard/organizations">
            <img src="{{ user.profile.organization.image.url }}">
            <p class="org-name of-dots" title="org-name" id="org-name">{{ user.profile.organization.name }}</p>
        </a>
    </div>
    <ul class="menu">
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}" class="active">
            <span class="sidebar-icon"><i class="fas fa-city"></i></span>
            <span class="text">Summary</span>
        </a></li>
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}/applications">
            <span class="sidebar-icon"><i class="fas fa-sitemap"></i></span>
            <span class="text">Applications</span>
        </a></li>
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}/licenses">
            <span class="sidebar-icon"><i class="fas fa-id-badge"></i></span>
            <span class="text">Licenses</span>
        </a></li>
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}/activitry">
            <span class="sidebar-icon"><i class="fas fa-chart-line"></i></span>
            <span class="text">Activity</span>
        </a></li>
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}/sales">
            <span class="sidebar-icon"><i class="fas fa-money-check"></i></span>
            <span class="text">Sales</span>
        </a></li>
        <li><a href="/dashboard/organization/{{user.profile.organization.id}}/api">
            <span class="sidebar-icon"><i class="fas fa-laptop-code"></i></span>
            <span class="text">API</span>
        </a></li>
    </ul>
</nav>
<div class="view">
    <div class="view-bar">
        <h1>Dashboard</h1>
        <label class="search" for="search">
            <i class="fas fa-search"></i>
            <input type="text" id="search" placeholder="Search ...">
        </label>
        <div class="view-bar-right">
            <span class="of-dots">{{user.first_name}}</span>
            <img src="{{ user.profile.image.url }}">
            <a href="#"><i class="fas fa-cog"></i></a>
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </div>
    <div class="alert error" id="alert">
        <p>New organization created</p><i class="fas fa-times hide-alert"></i>
    </div>
    <div class="content">
        {% block body %}
        
        {% endblock %}
    </div>
</div>
{% endblock %}